root {
    flex-grow: 1;
}

.BpMenu {
    background-color: #fafafa;
    width: 250px;
}

.linktext {
    margin-left: 0;
    padding: 0.05em 0 0;
}

.linkWithoutDecoration {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.menuToolbar {
    padding-left: 0;
    padding-right: 0;
    min-height: 2.9em;
}

.negativeLinkPadding {
    padding-right: 0;
    margin-right: -0.7em;
}

.otherAppsPadding {
    padding-right: 0;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-right: -0.7em;
}
