node_modules

blindpool-client/build
blindpool-client/.eslintcache
blindpool-common/dist
blindpool-frontend/dist
blindpool-frontend/node_modules
blindpool-api/dist
blindpool-api/node_modules
matches-api/dist
matches-api/node_modules
matches-api/local.key

http-files/http-client.private.env.json

.idea/
*.iml
