node_modules

blindpool-client/dist
blindpool-client/.eslintcache
blindpool-client/node_modules
blindpool-common/constants/**/*.d.ts
blindpool-common/constants/**/*.js
blindpool-common/requests/**/*.d.ts
blindpool-common/requests/**/*.js
blindpool-common/index.js
blindpool-frontend/dist
blindpool-frontend/node_modules
blindpool-api/dist
blindpool-api/node_modules
matches-api/dist
matches-api/node_modules
matches-api/local.key

http-files/http-client.private.env.json

.idea/
*.iml
