body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    background-color: #EEEEEE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #bpMatchSelector-label {
    font-weight: lighter;
    color: black;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  