.tableRowContainerForClubIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.clubIconAndTextDiv {
    width: 10em;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}

.clubIconStyle {
    width: 5em;
    height: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.slashIcon {
    margin-top: 2em;
    margin-bottom: 2em;
}
/* TODO: Other css stuff in BpUpcomingMatches*/
