# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore

# Node.js dependencies:
node_modules/

# Don't upload the src files as they are compiled to javascript anyway
src/
tsconfig.json
webpack.config.ts
webpackdev.config.ts