.tableRowContainerForClubIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0.5em 0 0;
}

.clubIconStyle {
    width: 3em;
    height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.clubIconAndTextDiv {
    width: 7.8em;
    text-align: center;
    white-space: nowrap;
}

.slashIcon {
    margin-top: 2em;
    margin-bottom: 2em
}
